#Google Gemini Ebeddings API Key
GOOGLE_API_KEY = 
GOOGLE_EMBEDDING_MODEL = 

PG_CONNECTION_STRING=
#RDBMS
AGENTIC_RAG_DB_URL=

#Cohere API Key
COHERE_API_KEY = 
PYPPETEER_CHROMIUM_REVISION=

# LangSmith Configuration
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=