#Google Gemini Ebeddings API Key
GOOGLE_API_KEY = 
GOOGLE_EMBEDDING_MODEL = gemini-embedding-001

PG_CONNECTION_STRING=
AGENTIC_RAG_DB_URL=

#Cohere API Key
COHERE_API_KEY = 
PYPPETEER_CHROMIUM_REVISION=