#Google Gemini Ebeddings API Key
GOOGLE_API_KEY=
GOOGLE_EMBEDDING_MODEL=

PG_CONNECTION_STRING=postgresql+psycopg://postgres:Pass%40123@localhost:5432/agentic_multimodal_rag_db

#Cohere API Key
COHERE_API_KEY=